@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");



body {
  font-family: "Montserrat", sans-serif;
  color:#333;
  background-image: linear-gradient(
    45deg,
    #845EC2,
    #D65DB1,
    #FF6F91,
    #FF9671,
    #FFC75F,
    #F9F871

  );

 animation: anim1 6s infinite alternate;
 background-size: 400%;
 
}
@keyframes anim1 {
  0% {
    background-position: left;
  }
  100%{
    background-position: right;
  }
  
}

#main {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
  margin: 20px auto;
  width: 50%;
  border-radius: 30px;
}
 i {
   color: #dd2476;

 }

/* TASK LIST */
h1,
h5 {
  background: linear-gradient(to right, #ff512f 0%, #dd2476 44%, #ffd92f 100%);
  background-size: 200% auto;

  color: #000;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3.2s linear infinite;

  padding-bottom: 30px;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
/* End Task List */

/* Button ADD TASK */
.btnAdd {
  background: linear-gradient(to right, #ff512f 0%, #dd2476 44%, #ff512f 100%);
  color: #fff;
  padding: 10px 30px;
  margin: 40px auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
}
.btnAdd:hover {
  background: linear-gradient(to left, #ff512f 0%, #dd2476 44%, #ff512f 100%);
  color: #fff;
  transition: 0.3s ease-in-out;
  padding: 13px 35px;
}
/* END BUTTON */

/* Tasks */
.items {
  font-size: 2rem;
  list-style: none;
  border-bottom: 2px solid #dd2476;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  margin: 40px 0 30px 0;
  font-size: 1.55rem;
}

#task:focus,
#filter:focus {


    border: 1px solid rgba(221, 36, 119, 0.5);
    box-shadow: 0 3px 7px rgba(221, 36, 119, 0.5);
    outline-offset: 0px;
    outline: none;
    padding: 5px 10px;
    border-radius: 10px;

}

/* X - delete */
.delete-item i:hover {
  font-size: 2.5rem;
  transition: 0.3s ease-in-out;
}

.delete-item i {
  color: #dd2476;
}

/* Media queries */


@media (max-width: 767px) {
  .card  {
    width: 100% !important;
}